@model IEnumerable<Shop.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Orders</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMoneyTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMoneyTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.Raw(((Dictionary<int, float>)ViewData["OrdersPrices"]).GetValueOrDefault(item.OrderId))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<link rel="stylesheet" href="~/css/amountsByMonth.css">
<div id="graph-container">

</div>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script type=text/javascript src="~/js/amountsByMonth.js"></script>
<script>
    let orders= @Html.Raw(ViewBag.Orders);
    displayData(orders)
</script>

