@model IEnumerable<Shop.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        console.log("start");
        $(".categoryLi").click(function () {

                    
            $('.product[cat!="' + $(this).html() + '"]').hide();
            $('.product[cat="' + $(this).html() + '"]').show();
  
        
        });
    });

</script>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">MY SHOP</h1>
            <div class="list-group">


                @foreach (var item in (List<string>)ViewData["Categories"])
                {
                    <a href="#" class="list-group-item categoryLi">@item</a>
                }





            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">



            <img style="padding-top:30px;padding-bottom:20px;" class="d-block img-fluid" src="https://trustedcbdoil.com/wp-content/uploads/CBD-Nevada_1.jpg">

            <div class="row">

                @foreach (var item in Model)
                {



                    <div class="col-lg-4 col-md-6 mb-4 product" cat='@Html.DisplayFor(modelItem => item.Category)'>
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title green text-uppercase">
                                   @Html.DisplayFor(modelItem => item.ProductName)
                                </h4>
                                <h5 class="card-title green">Only @Html.DisplayFor(modelItem => item.Price)  $</h5>
                                <p class="card-text">I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC >I ♥ MVC </p>
                            </div>
                            <div class="card-footer">
                                <button style="font-size:16px; width:100%;" type="button" class="btn btn-success  btn-lg">  @Html.DisplayFor(modelItem => item.Price)  $     Add To Cart</button>
                            </div>
                        </div>
                    </div>
                }



            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->